data/mitogenomes_reich/v54.1.p1_1240K_public/v54.1.p1_1240K_public.geno
data/mitogenomes_reich/v54.1.p1_1240K_public/v54.1.p1_1240K_public.ind
data/mitogenomes_reich/v54.1.p1_1240K_public/v54.1.p1_1240K_public.snp

data/mitogenomes_reich/v54.1.p1_HO_public/
software/
