/home/dodo/Documents/projects/ancient_DNA_Eda_Ehler_IMG_CAS/data/mitogenomes_reich/v54.1.p1_1240K_public
/home/dodo/Documents/projects/ancient_DNA_Eda_Ehler_IMG_CAS/data/mitogenomes_reich/v54.1.p1_HO_public
.env
